<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div>
    <div class="container-fluid">
      <div class="row" id="header">
        <div class="col-3" id="header-logo">
          <img src="assets/new_images/logomark_s.png" id="unlock-potential-img" style="width: 125px; height: 148px;"></img>
        </div>
        <div class="col-8">
          <img src="assets/new_images/wordmark_s.png" id="unlock-potential-img" style="margin-top: 43px;"></img>
        </div>
      </div>
      <div id="body-content">
        <div id="questions">
          <div v-if="stage == 'start'">
            <div class="row justify-content-center">
              <div style="margin-top: 150px; padding-top: 18px; width: 300px; height: 150px; background-color: black; color: white; text-align: center;" v-on:click="startGame()">
                <h5>START!</h5>
              </div>
            </div>
          </div>
          <div v-else-if="stage == 'game-in-progress'">
            <div class="row">
              <div class="col-12">
                <transition name="question" mode="out-in">
                  <h3 v-show="showQuestion" style="width: 95%; margin: 60px auto; text-align: center;">{{ currentQuestion.text }}</h3>
                </transition>
                <p style="text-align: center; width: 95%">Time: <span v-html="time"></span></p>
              <div>
            </div>
            <div class="row justify-content-around" style="margin-top: 100px;">
              <div class="col-3">
                <h5 v-html="currentQuestion.answers[0]" v-on:click="recordAnswer(0)" style="text-align: right; margin-top: 200px;">{{ currentQuestion.answers[0] }}</h5>
              </div>
              <div class="col-3">
                <h5 v-html="currentQuestion.answers[1]" v-on:click="recordAnswer(1)" style="text-align: center; margin-top: 50px;">{{ currentQuestion.answers[1] }}</h5>
                <img src="assets/new_images/arrow_top.png" id="pointing-arrow" style="width: 110px; height: 110px; margin: 70px auto 0 auto; display: block;"></img>
              </div>
              <div class="col-3">
                <h5 v-html="currentQuestion.answers[2]" v-on:click="recordAnswer(2)" style="text-align: left; margin-top: 200px;">{{ currentQuestion.answers[2] }}</h5>
              </div>
              <div class="col-3">
                <img :src="progressArrow()" style="width: 300px; height: 300px;"></img>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div v-else-if="stage == 'result'">
        <div class="row justify-content-center" style="margin: 150px 0px 79px">
          <input v-model="username" placeholder="Enter you name"></input>
        </div>
        <div class="row justify-content-center">
          <div @click="saveResult()" style="padding: 15px; background-color: #000000; width: 150px; height: 70px; text-align: center; color: #ffffff;">
            SUBMIT
          </div>
        </div>
      </div>
      
      <div v-else-if="stage == 'leaderboard'">
        <div class="row justify-content-center" style="margin-bottom: 45px;">
          <div id="leaderboard" class="col-3">
            <dl v-for="userResult in sortedLeaderboard()" style="text-align: center;щo">
              <dt>
                {{ userResult[2] }} - {{ userResult[0] }}
                <span v-for="answer in userResult[1]" style="margin-left: 10px;">
                  <i class="fa fa-star" v-if="answer" aria-hidden="true"></i>
                  <i class="fa fa-star-o" v-else aria-hidden="true"></i>
                </span>
              </dt>
            </dl>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-3">
            <div @click="setupNewGame()" style="margin: 0px auto; padding: 15px; background-color: #000000; width: 200px; height: 70px; text-align: center; color: #ffffff;">
              NEW GAME
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p class="terms"><a href="./terms.html">Terms and Conditions</a></p>
    </footer>

    <link rel="stylesheet" href="assets/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <script src="assets/javascript/vue.min.js"></script>
    <script src="assets/javascript/questions.js"></script>
  </body>
</html>
