@font-face {
  font-family: BasisGrotesquePro;
  src: url('../fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
}

body {
  font-family: BasisGrotesquePro;
  font-size: 30px;
}

.terms {
  font-size: 14px;
}

a, a:visited {
  color: #222;
}

.body-content {
  width: 98%;
  margin-right: auto;
  margin-left: auto;
}

.question-active, .question-leave-active {
  transition: opacity .7s ease;
}
.question-enter, .question-leave-to
/* .component-fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.question-enter-active {
  transition: all .7s ease;
}

input {
  background: none;
  color: #000000;
  font-size: 18px;
  padding: 10px 10px 5px 5px;
  display: block;
  width: 430px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
}

input:focus {
  outline: none;
}

#leaderboard { 
  height: 500px;
  overflow: scroll;
}

#leaderboard::-webkit-scrollbar { 
    display: none; 
}

.rating {
  width: 210px;
  height: 40px;
  margin: 0 auto;
  padding: 40px 50px;
  border: 1px solid #CCCCCC;
  background: #F9F9F9;

    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;

      content: "\2605";
      font-size: 42px;
      color: $star-off-color;
      line-height: 1;
    

}
